<div class="header-search">
  <h4 class="col-md-8 col-sm-12"> Sélectionnez une filière</h4>
  <div class="form-group col-md-4 col-sm-12">
    <i class="fa fa-search"></i>
    <input type="search" class="form-control"  (change)="filter_filiere_list()" [value]="search_value" [(ngModel)] = "search_value" placeholder="Rechercher une filière"/>
  </div>
</div>

<div class="list-contain">
  <div *ngFor="let filiere of list" class="col-xl-4 col-md-6 col-sm-6">
    <div class="card" [title]="filiere.intitule">
      <a class="card-body hover" href="/">
        <div class="card-block">
          <div class="filiere-item my-center">{{filiere.code}}</div>
        </div>
      </a>
    </div>
  </div>
</div>

