<div class="content-wrapper">
  <div class="content-header row">

  </div>
  <div class="content-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="card">
          <div class="card-header no-border-bottom">
            <h4 class="card-title">Fichier concernant les unités d'enseignement</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-body collapse in" *ngIf="!is_loading && !should_modify && can_upload && !is_sending">
            <div class="card-block" *ngIf="!has_failed && etudiants.length > 0">

              <h5 class="my-center">Statut: <mark>Un fichier a déjà été importé</mark></h5>
            </div>

            <div class="card-block" *ngIf="!has_failed && etudiants.length === 0">

              <h5 class="my-center">Statut: <mark>Aucun fichier importé</mark></h5>

              <app-file-upload (extract)="on_extract_datas($event)"></app-file-upload>
            </div>

            <div class="card-block" *ngIf="has_failed">
              <div class="my-center flex-column">
                <img src="assets/images/connection-close.png"/>
                <h6 class="text-italic mt-2">Impossible de se connecter au serveur de données !</h6>
              </div>
            </div>
          </div>

          <div class="card-body collapse in" *ngIf="!is_loading && !should_modify && can_upload && is_sending">
            <app-knob [value]="value_of_progress" [message]="message"></app-knob>
          </div>

          <div class="card-body collapse in" *ngIf="!is_loading && !should_modify && !can_upload">
            <div class="card-block" *ngIf="has_failed">
              <div class="my-center flex-column">
                <img width="200px" height="200px" src="assets/template/app-assets/images/logo/employelogo3.jpg"/>
                <h6 class="text-italic mt-2">Veuillez d'abord importer les fichiers concernant les classes !</h6>
              </div>
            </div>
          </div>

          <div class="card-body collapse in" *ngIf="!is_loading && should_modify">
            <div class="table-responsive">
              <table class="table table-bordered mb-0">
                <thead>
                <tr>
                  <th>Matricule</th>
                  <th>Noms et Prénoms</th>
                  <th>Classe</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let etudiant of bads_datas">
                  <td class="width-200">{{etudiant.matricule}}</td>
                  <td class="width-200">{{etudiant.noms}}</td>
                  <td class="width-200">
                    <select [(ngModel)]="etudiant.classe" class="select2-theme form-control" >
                      <optgroup label="Valeur par défaut">
                        <option [value]="etudiant.default_classe_code">{{etudiant.default_classe_code}}</option>
                      </optgroup>
                      <optgroup label="Valeurs possibles">
                        <option *ngFor="let classe of get_loaded_classes()" [value]="classe.code">{{classe.code}}</option>
                      </optgroup>
                    </select>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="col-sm-12 mt-2">
              <button class="btn btn-secondary" (click)="cancel_extraction()">Annuler</button>
              <button class="btn btn-primary" (click)="continue_extraction()">Continuer</button>
            </div>
          </div>

          <div class="card-body collapse in" *ngIf="is_loading">
            <div class="card-block">
              <div class="my-center">
                <app-loader [size]="5"></app-loader>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

