.list-contain{
  padding: 20px;
  .filiere-item{
    background-color: #c1e0e0;
    color: #3BAFDA;
    font-weight: bold;
    font-size: x-large;
    min-width: 100%;
    min-height: 180px;

    &:hover{
      animation-delay: 2s;
    }
  }
}

.header-search{

  i{
    position: absolute;
    right: 40px;
    top: 10px;
  }
}
