<div class="content-wrapper">
  <div class="content-header row">

  </div>
  <div class="content-body">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="card">
          <div class="card-header no-border-bottom">
            <h4 class="card-title">Plannification des cours</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
          </div>
          <div class="card-body collapse in">
            <div class="card-block">
                <app-filieres-list></app-filieres-list>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

