<div id="top-content">
  <h4 class="maj">Université de Yaoundé 1</h4>
  <h4 class="maj">University of Yaounde 1</h4>
</div>
<div id="divider"></div>
<div id="top-content-2">
  <div class="start">
    <h4 class="maj">Faculté des sciences</h4>
    <h5>Division de la Programmation et du suivi des Activités Académiques</h5>
  </div>
  <div class="end">
    <h4 class="maj">Faculty of Science</h4>
    <h5>Division of Programming and academic activities follow up</h5>
  </div>
</div>

<div id="bottom-content">
  <h5 class="maj">Emploi du temps | Time table</h5>
  <h5 class="maj">Semestre__1__Année académique &nbsp;&nbsp;2021 - 2022&nbsp;&nbsp; Academic year__1__semester</h5>
  <h5 class="maj">Filiere {{filiere}}</h5>
  <h5 class="maj">{{classe}}</h5>
</div>

