/* You can add global styles to this file, and also import other style files */
.my-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-30{
  margin-top: 30px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}
