<app-course-header-planning [classe]="classe_name" [filiere]="filiere_name"></app-course-header-planning>
<div class="table-responsive">
  <table class="table table-bordered mb-0 table-hover">
    <thead>
    <tr>
      <th>Heures</th>
      <th *ngFor="let jour of jours;">{{jour.intitule}}</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let periode of periodes; let period_index = index;">
        <th>{{periode.debut + " - " + periode.fin}}</th>
        <td *ngFor="let jour of jours; let day_index = index;" data-toggle="modal" (click)="on_ceil_click(day_index, period_index)"
            data-target="#inputs">
          <div *ngIf="get_ue_code(period_index, day_index) !== ''">{{get_ue_code(period_index, day_index)}}</div>
          <div *ngIf="get_salle_code(period_index, day_index) !== ''">{{get_salle_code(period_index, day_index)}}</div>
          <div *ngIf="get_enseignant_name(period_index, day_index) !== ''">{{get_enseignant_name(period_index, day_index)}}{{get_enseignant2_name(period_index, day_index) !== "" ? " // " : ""}}</div>
          <div *ngIf="get_enseignant2_name(period_index, day_index) !== ''">{{get_enseignant2_name(period_index, day_index)}}</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-sm-6 mt-2">
  <button class="btn btn-primary" (click)="on_apply_modification()">Sauvegarder</button>
</div>
<app-inputs-modal
  [jour]="current_day" [periode]="current_period"
  [enseignants]="possibles_enseignants" [enseignants2]="possibles_enseignants2"
  [salles]="possibles_salles" [ues]="possibles_ues"
  (on-confirm)="on_confirm($event)"
  [default]="current_planning_ceil"
></app-inputs-modal>
