th
{
  vertical-align: inherit;
}

td {
  div{
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }

  &:hover {
    cursor: pointer;
    border: dashed 3px #3BAFDA;
  }

}
